.container{
    height: 548px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Almost-Black, #151515);
}

.content{
    width: 1110px;
    display: grid;
    grid-template-columns: 245px 540px;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 24px;
}

.content > h1{
    color: var(--White, #FFF);
    font-family: var(--font-one);
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 0px;
}

.content > strong{
    color: var(--Gold, #D5966C);
    font-family: var(--font-one);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 100% */
    text-transform: uppercase;
    margin: 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.content > address{
    color: var(--White, #FFF);
    font-family: var(--font-two);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
}

.content > p{
    color: var(--White, #FFF);
    font-family: var(--font-two);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
    margin: 0px;
}

@media(max-width: 1200px){
    .content{
        width: 90%;
    }
}

@media(max-width: 940px){
    .content{
        grid-template-columns: 245px 62.7955938996%;
    }
}

@media(max-width: 800px){
    .container{
        height: 436px;
    }

    .content{
        grid-template-columns: 194px 1fr;
        row-gap: 20px; 
        column-gap: 97px;
    }

    .content > h1{
        font-size: 3.4375rem;
        line-height: 50px;
    }

    .content > strong{
        font-size: 2rem;
        line-height: 32px;
    }
    .content > address{
        font-size: 1.125rem;
        line-height: 28px;
    }

    .content > p{
        font-size: 1.125rem;
        line-height: 28px;
    }
}

@media(max-width: 650px){
    .container{
        height: auto;
        min-height: 493px;
        padding: 48px 0px 56px 0px;
    }

    .content{
        grid-template-columns: 1fr; 
        column-gap: 0px;
        row-gap: 20px;
    }

    .content > h1{
        font-size: 3.125rem;
        line-height: 45px;
        margin-bottom: 28px;
        grid-row: 1/2;
    }

    .content > strong{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .content > address{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .content > p{
        font-size: 1.125rem;
    }
}